@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home page";
}

<div class="row mt-2">
    <div class="col-lg-8 col-md-8">
        <img src="~/images/schoolbg.png" class="rounded float-start w-100" alt="left-image">
    </div>
    <div class="col-lg-3 col-md-3 ms-2">
        <figure class="text-end">
            <h1 class="display-3 text-wrap text-uppercase mb-3">Course Management</h1>
            <blockquote class="blockquote mb-5">
                <p>A well-known quote, contained in a blockquote element.</p>
            </blockquote>
            <figcaption class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur voluptatum alias molestias minus quod dignissimos.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur voluptatum alias molestias minus quod dignissimos.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur voluptatum alias molestias minus quod dignissimos.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur voluptatum alias molestias minus quod dignissimos.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur voluptatum alias molestias minus quod dignissimos.
            </figcaption>
        </figure>
        @if (!SignInManager.IsSignedIn(User))
        {
            <div class="d-flex justify-content-end mt-5">
                <a type="button" class="btn btn-lg btn-outline-secondary px-5" id="signin" asp-area="Identity" asp-page="/Account/Login">Sign In</a>
            </div>
        }
    </div>
</div>