@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}


<section class="section">
    <div class="container-fluid mt-5">
        <div class="d-flex justify-content-center row">
            <div class="text-center">
                <h1 class="display-1">Access Denied</h1>
                <div class="text-muted mb-1">
                    You don't have permissions to access this page. Contact an administrator to get permissions or go to the home page and browse other pages
                </div>
                <div class="row">
                    <div class="mt-2">
                        <a asp-page="/Index" class="text-primary">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>